<div class="text-center">
    <h1 class="display-4">Embeded Video</h1>
</div>
<script type="text/javascript" src="https://embed.clickmeeting.com/embed_conference.html?r=1718262926681135&w=1024&h=768"></script>