@model string;

@{
    ViewData["Title"] = "Clickmeeting Test";
}

<script type="text/javascript">

function goToVideo() {
    window.location.href = '/Home/VideoForRequest/';
}

function goToVideo2() {
    window.location.href = '/Home/WebinarForRequest/';
}

function goToWebinar() {
    window.location.href = '/Home/WebinarWithPassword/';
}

function goToEmbeded() {
    window.location.href = '/Home/Embeded/';
}
function  goToTokenRoom() {
    window.location.href = '/Home/WebinarWithToken/';
}
</script>

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<br/>

<div class="text-center">
    <button class="btn btn-lg btn-primary" id="btnWebinar" onclick='goToWebinar();'>Webinar z hasłem</button>
</div>
<br/>
<div class="text-center">
    <button class="btn btn-lg btn-primary" id="btnVideo" onclick='goToVideo();'>Wideo na życzenie</button>
</div>
<br/>
<div class="text-center">
    <button class="btn btn-lg btn-primary" id="btnVideo" onclick='goToVideo2();'>Webinar Wideo z automatycznym wprowadzeniem uczestnika</button>
</div>
<br/>
<div class="text-center">
    <button class="btn btn-lg btn-primary" id="btnVideo" onclick='goToEmbeded();'>Okno Embeded</button>
</div>
<br/>
<div class="text-center">
    <button class="btn btn-lg btn-primary" id="btnVideo" onclick='goToTokenRoom();'>Webinar z tokenem</button>
</div>
<br/>