@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<script type="text/javascript" src="https://embed.clickmeeting.com/embed_conference.html?r=1718261646674551&w=1024&h=768"></script>*@
<!-- wystawiony plik wideo -->
<script type="text/javascript" src="https://embed.clickmeeting.com/embed_conference.html?r=1718262926681135&w=1024&h=768"></script>