@model string;

@{
    ViewData["Title"] = "Webinar z hasłem";
}

<div class="text-center">
    <h1 class="display-4">Webinar z hasłem</h1>
</div>

<iframe src="@Model" height="768" width="1024"></iframe> 


